body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cv-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid 1px black;
    width: 80vw;
}

.creator-container {
    display: flex;
    flex-direction: column;
    /* border: dotted 2px red; */
    margin: 25px;
    gap: 10px;
}

.preview-container {
    display: flex;
    flex-direction: column;
    /* border: dotted 2px blue; */
    margin: 25px;
    gap: 10px;
}