body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cv-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid 1px black;
    height: 90vh;
    width: 90vw;
}

.creator-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2rem;
    border: dotted 2px red;
    margin: 25px;
}

.preview-container {
    display: grid;
    grid-template-rows: 3fr 4fr 4fr 2rem;
    border: dotted 2px blue;
    margin: 25px;
}