body {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    margin: 0;
    padding: 0;
}

.education-container {
    display: flex;
    flex-direction: column;
    /* border: dotted 2px green; */
    gap: 5px;
}

.education-container label {
    display: flex;
}

.education-container input {
    flex-grow: 1;
    height: fit-content;
    height: 1.5rem;
}

.education-blurb {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.education-blurb textarea {
    flex: 1;
    font-family: sans-serif;
    resize: none;
}