h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.personal-preview-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas:
        "name contact"
        "blurb blurb";
    /* border: dotted 2px green; */
    gap: 5px;
}

.personal-preview-name {
    grid-area: name;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.personal-preview-name__heading {
    font-size: 2.5rem;
}

.personal-preview-contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.personal-preview-contact_item {
    display: flex;
    gap: 4px;
}

.personal-summary-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.personal-summary-heading_divider {
    flex-grow: 1;
    height: 2px;
    background-color: black;
}

.personal-preview-blurb {
    grid-area: blurb;
    font-size: .9rem;
}