body {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.work-container {
    display: flex;
    flex-direction: column;
    border: dotted 2px green;
    gap: 5px;
}

.work-container label {
    display: flex;
}

.work-container input {
    flex-grow: 1;
    height: fit-content;
    height: 1.5rem;
}

.work-blurb {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.work-blurb textarea {
    flex: 1;
    font-family: sans-serif;
    resize: none;
}